.card-grid{
    width: 98%;
    height: 12.5vh;
    display: grid;
    grid-template-areas:
        'image image time time time'
        'image image title title title';
    grid-template-columns: 20vh 12vh 12vh 20vh 10vh;

    column-gap: 1vh;
    padding: 3px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.news-img{
    width: 27vh;
    height: 12vh;
    object-fit: cover;
    grid-area: image;
    padding: 5px;
}

.news-time{
    grid-area: time;
    font-size: 1vw;
    text-decoration: underline;
}

.news-title{
    grid-area: title;
    font-weight: 500;
    background-color: white;
    padding: 2px;
}

.home-news-card{
    padding: 0.5vh;
    
}

.home-news-card a{
    color: black;
    text-decoration: none;
}

