.card-grid{
    width: 98%;
    height: 12vh;
    display: grid;
    grid-template-areas:
        'image time time'
        'image title title';
    grid-template-columns: 14vw 11vw 11vw;
    grid-template-rows: 30% 80%;
    column-gap: 1vh;
    padding: 3px;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

.news-img{
    width: 13vw;
    height: 90%;
    object-fit: cover;
    grid-area: image;
    padding: 5px;
}

.news-time{
    grid-area: time;
    font-size: 15px;
    text-decoration: underline;
}

.news-title{
    grid-area: title;
    font-weight: 500;
    font-size: 1vw;
    background-color: white;
    padding: 2px;
    height: 10vh;
}

.home-news-card{
    padding: 0.5vw
}

.home-news-card a{
    color: black;
    text-decoration: none;
}

