

.profile-page{
    background-color: #363232;
    width: 100%;
    height: 100%;
    padding-bottom: 20vh;
}

.profile-page-user{
    display:flex;
    width: 100%;
}


.profile-page-header {
    margin: 1%;
    display: block;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    /* old container background color */
    /* background-color: #D9D9D9; */
    background-color:#1d1c1cb7;
    color: rgb(247, 249, 249);
}


.user-section {
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.profile-user-info {
    display: block;
    overflow-x: auto;
    text-align: center;
}

.stats-container {
    margin: 5%;
}


.profile-picture-container {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.profile-picture{
    margin-top: 3%;
    width: 225px;
    height: 200px;
    border-radius: 50%;
}

.profile-icon {
    margin-right: 5px;
}

.profile-picture-name, .profile-location, .profile-account-creation-date {
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.profile-picture-username {
    margin: 0;
    padding: 0;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;


}


.profile-page-details-container {
    margin: 1%;
    display: block;
    width: 30%;
    height: 420px;
    text-align: center;
    border-radius: 10px;
    /* background-color: #D9D9D9; */
    background-color:#1d1c1cb7;
    color: rgb(247, 249, 249);
}

.details-title-container {
    margin: 1%;
    
}


.details-container {
    margin: 1%;
}

.user-detail-name {
    display: flex;
    width: 420px;
}


/* ----------------------------USER CREATED COURSES SECTION------------------------- */


.user-courses-container {
    /* background-color: #D9D9D9; */

    background-color:#1d1c1cb7;
    color: rgb(247, 249, 249);
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 25px;

}


.user-courses-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 35px;
    column-gap: 35px;
    justify-content: center;
    margin: 1%;
}

.user-course-title-container {
    display: flex;
    justify-content: center;
    margin: 1%;

}


.user-courses-title {
    display: flex;
    justify-content: center;
    margin-right: 2.5%;
    margin-top: 1%;
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 1%;

}




.learning-redirect {
    color:#F1D433;
    margin-left: 0.25vw;
}


.thumbnail-container {
    margin: 15px;
    
    display: flex;
}

.cover-image-category {
    padding-bottom: 1%;
}

.course-card-cover-image {
    width: 10vw;
    height: 10vh;
    object-fit: cover;
    border-radius: 12px;
}

.user-course-card-container {
    display: flex;
    width: 30vw;
    overflow-x: auto;
    background-color: #363232;
    border-radius: 12px;
    color: whitesmoke;
}



.user-course-card-title-container {
    height: 30%;
}

.user-course-card-title {
    font-size: 20px;
}

.user-course-card-description {
    margin-top: 15px;
}

.title-description-container {
    margin: 2%;
    font-size: 13px;
    height: 100%;
}


.course-card-date-category {
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-created-course-redirect-link, .followed-team-redirect {
    text-decoration: none;
}
.followed-team-redirect {
    color: black;
}

.delete-course-container {

    display: flex;
    justify-content: right;
    margin-top: 10px;
    
}


.individual-course {
    margin-right: 1%;
}

/* ----------------------------- MY TEAMS SECTION  ---------------------------------------*/
.courses-teams-container {
    display: flex;
    width: 100%;
}



.user-teams-container {
    /* background-color: #D9D9D9; */
    background-color:#1d1c1cb7;
    color: rgb(247, 249, 249);
    border-radius: 10px;
    width: 50vw;

    margin: 1%;
    overflow-y: auto;
    height: 420px;
    text-align: center;

}




.user-teams-title-container {
    display: flex;
    justify-content: center;
    margin: 1%;



}

.user-teams-title, .user-courses-title, .details-title {
    font-size:  4ch;

    
}

.no-teams-error-msg, .no-user-courses-message{
    display: flex;
    justify-content: center;
    font-size: 2.2ch;
    margin-top: 6vh;
    font-weight: 400;
}



.user-followed-team-cards {

    align-items: center;
}




.user-followed-team-card{
    font-size: 12px;
    color: whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: auto;
    
    text-align: center;
    margin-right: 50px;
}




.profile-team-logo{
    width: auto;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
}

.team-name-container{
    display: flex;
}


.team-content {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}



.team-name {
    font-size: 20px;
}

/* ------------------------------ Drop down section ------------------------ */
.drop-down {
    padding-top: 5vh;
    display: flex;
    height: 2vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 15vh;
    align-items: center;
}

.drop-down h1 {
    padding-bottom: 2vh;
}
