

.profile-page{
    background-color: #363232;
    height: 100%;
    padding-bottom: 20vh;
}

.profile-page-user{
    display:flex;
    width: 100%;
}

.profile-page-header {
    margin: 1%;
    display: block;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: #D9D9D9;
}


.user-section {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.profile-user-info {
    text-align: center;
}




.profile-picture-container {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.profile-picture{
    margin-top: 3%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-icon {
    margin-left: 1.5%;
    position: absolute;
    left:0;
}

.profile-picture-name, .profile-location, .profile-account-creation-date {
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-username {
    margin: 0;
    padding: 0;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}


.profile-page-details-container {
    margin: 1%;
    display: block;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.details-title-container {
    margin: 1%;
}


.details-container {
    margin: 1%;
}

.user-detail-name {
    display: flex;
    width: 420px;
}


/* ----------------------------USER CREATED COURSES SECTION------------------------- */


.user-courses-container {
    background-color: #D9D9D9;
    margin: 1%;
    border-radius: 10px;
    width: 40vw;
    height: fit-content;
    padding-bottom: 25px;
    padding-top: 10px;
}





.user-courses-title-container {

    margin: 1%;
}


.title-container {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding-bottom: 25px;

}




.learning-redirect {
    margin-left: 0.25vw;
}


.thumbnail-container {
    margin: 1%;
    padding-left: 5px;
    justify-content: center;
}

.course-card-cover-image {
    width: 10vw;
    height: 10vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 25px;

}

.user-course-card-container {
    display: flex;
    margin: 2%;
    background-color: #363232;
    border-radius: 25px;
    color: whitesmoke;
    padding-left: 2px;
    
}


.title-description-container {
    margin: 2%;
}

.course-card-date-category {
    margin-left: 5%;
    font-size: 13px;
    width: 100%;
}

.user-created-course-redirect-link {
    text-decoration: none;
}


/* ----------------------------- MY TEAMS SECTION  ---------------------------------------*/
.courses-teams-container {
    display: flex;
}



.user-teams-container {
    background-color: #D9D9D9;
    margin: 1%;
    border-radius: 10px;
    width: 60vw;


    padding-top: 10px;
}




.user-teams-title-container {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding-bottom: 25px;
}

.user-teams-title, .user-courses-title, .details-title {
    font-size:  5ch;
    border-bottom: 4px solid #383838
    
}

.no-teams-error-msg, .no-user-courses-message{
    display: flex;
    justify-content: center;
    font-size: 2.2ch;
    margin-top: 6vh;
    font-weight: 500;
}

.user-followed-team-card{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: auto;
    
    
}

.profile-team-logo{
    width: 10vw;
}

.team-name-container{
    display: flex;
    margin-left: 1vh;
}


.team-content {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}



.team-name {
    font-size: 4.5ch;
}