

.profile-page{
    display: flex;

}


.profile-page-header {
    margin: 1%;
    display: block;
    width: 400px;
    height: 450px;
    border-radius: 25px;
    background-color: #D9D9D9;
}


.user-section {
    display: flex;
    justify-content: center;
    margin-top: 10%;

} 



.profile-picture-container {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.profile-picture-name, .profile-location {
    margin: 0;
    padding: 0;
}


.profile-page-details-container {
    margin: 1%;
    display: block;
    width: 100%;
    height: 450px;
    border-radius: 25px;
    background-color: #D9D9D9;
}

.details-title-container {
    margin: 1%;
    border-bottom: 2px solid #383838
}


.details-container {
    margin: 1%;
}

.user-detail-name {
    display: flex;
    width: 420px;
}