.landing-page{
    max-height: 130vh;
}

.hero-img{
    width: 100%;
    height: 130vh;
    object-fit: cover;
    object-position: center center;
    filter: brightness(43%)
}

.cta{
    position: absolute;
    z-index: 5;
    top: 35%;
    text-align: center;
    left: 30%;
    right: 30%;
}

.cta h1{
    font-family: 'Frijole', "Arial Black", cursive;
    font-size: 5vw;
    font-weight: 200;
    color: white;
}

.cta h2{
    color: white;
    font-size: 2vw;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


.landing-btn{
    position: absolute;
    z-index: 5;
    top: 70%;
    text-align: center;
    left: 30%;
    right: 30%;
}

.landing-btn button{
    padding: 5px;
    width: 8vw;
    margin: 20px;
    font-size: large;
    font-weight: 700;
    background: linear-gradient(to right, #ffffff 50%, #F1D433 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.landing-btn a{
    text-decoration: none;
    color: black;
}

.landing-btn button:hover{
    background-position:0 0;
}


.carousel-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px){
    .cta h1{
        font-size: 40px;
    }

    .landing-btn{
        top: 60vh;
    }
}