.home-page{
    display: grid;
    grid-template-areas:
        'banner banner banner banner banner banner banner'
        'sidebar teams teams teams game game game'
        'sidebar teams teams teams news news news';
        gap: 2%;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 20% 35% 35%;
    place-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Checkerboard_pattern.svg/750px-Checkerboard_pattern.svg.png?20120227221412");
    background-size:cover;
    background-repeat: repeat;
    background-blend-mode: darken;
}

.home-recent-games{
    grid-area: game;
    border-radius: 20px;
    box-shadow: 0 1px 18px #000000;
}

.home-banner{
    grid-area: banner;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 18px #000000;
}

.home-side-navbar{
    grid-area: sidebar;
    border-radius: 20px;
    box-shadow: 1px 1px 18px #000000;
}

.home-teams-grid{
    grid-area: teams;
    border-radius: 20px;
    box-shadow: 0 1px 18px #000000;
}

.home-news{
    grid-area: news;
    border-radius: 20px;
    box-shadow: 0 1px 18px #000000;
}


.section-title{
    width: 100%;
    background-color: #383838;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.title-name{
    padding: 5px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .home-page{
        display: grid;
        grid-template-areas:
            'banner banner'
            'sidebar teams'
            'sidebar teams'
            'game game'
            'news news';
            gap: 2%;
        grid-template-columns: 10% 88%;
        grid-template-rows: auto;
        height: 200vh;
    }
  }