.home-recent-games{
    background-color: #D9d9d9;
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    padding-top: 1vh;
    justify-content: space-around;
}

.game-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games-team-logo{
    height: 10vh
}

.games-team-score{
    font-size: 8vh;
}

.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-date{
    font-weight: 600;
    font-size: large;
}

.game-status{
    font-weight: 600;
    font-size: large;
}

.hockey{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(https://thumbs.dreamstime.com/b/hockey-rink-field-ice-arena-nhl-winter-sport-game-pitch-top-view-stadium-graphic-line-diagram-outline-background-234758928.jpg);
    background-position: center;
}

.volleyball{
        background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("https://media.istockphoto.com/illustrations/imitation-of-a-sports-volleyball-court-illustration-id1206467969?k=20&m=1206467969&s=612x612&w=0&h=VcC5e2hbXbeBkLCgBfv7FW_uJzaRTxIlpLND_kc4Ry0=");
    background-position: center;
}

.rugby{
        background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("https://openclipart.org/download/247666/RugbyUnionPitch.svg");
    background-position: center;
}

.soccer{
        background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Soccer_field_-_empty.svg");
    background-position: center;
}

.basketball{
        background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Basketball_court_1952.svg");
    background-position: center;
}

.baseball{
        background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("https://conceptdraw.com/How-To-Guide/picture/Sport-Colored-Baseball-Field-Template.png");
    background-position: center;
}

