.home-recent-games{
    background-color: #D9d9d9;
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    padding-top: 1vh;
    justify-content: space-around;
}

.game-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games-team-logo{
    height: 10vh
}

.games-team-score{
    font-size: 8vh;
}

.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-date{
    font-weight: 600;
    font-size: large;
}

.game-status{
    font-weight: 600;
    font-size: large;
}


