


.user-content {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ---------------------------------- Main content section ------------------------------------ */



.main-user-content, .tips-and-tricks {
    background: #F8F8F8;
    word-wrap: break-word;

    width: 90vw;
    border-radius: 10px;
}

/* Beginning of course specific information  */
.created-by {
    display: flex;
    padding: 10px;
    width: 100%;
    font-size: x-large;
    display: grid;
}

.course-information{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 4vw;
}

.cb-title {
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 800;
}
.cb-username {
    font-family: 'Cormorant';
    font-size: 2em;
}

.cb-date {
    font-size: 1em;
    opacity: 50%;
}

/* Beginning of text content  */

.short-description, .long-description {
    font-family: 'Cormorant';
    margin-left: 4vw;
}

.short-description {
    font-size: 2em;
    font-weight: 100;
    margin-top: 4vh;
    margin-bottom: 4vh;
    opacity: 70%;
}
/* ---------------------------- Markdown manipulation for proper rendering ------------------------------- */

.long-description, .tips-and-tricks-text {
    white-space: pre-wrap;
    font-size: 1.5em;
    max-width: 80vw;
}

.long-description img, .tips-and-tricks-text img {
    max-width: 40vw;

}

.long-description ul, .tips-and-tricks-text ul {
    padding-left: 2vw;
}

/* ---------------------------------- Line breaks ------------------------------------ */

.line-break {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line-break hr {
    background-color: black;
    width: 91%;
}

/* ---------------------------------- Video section ------------------------------------ */
.video-container {
    justify-content: center;
    background-color: #F8F8F8;
    display: flex;
    width: 90vw;
    justify-content: center;
    border-radius: 30%;
    
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.video-container iframe {
    border: 10px solid ;
    border-color: rgba(240, 240, 206, 0.686);
    border-radius: 5%;
    max-width: 80%;
}

/* ---------------------------------- Further Tips and tricks styling ------------------------------------ */
.tips-and-tricks {
    margin-bottom: 5vh;
    max-height: 50vh;
    overflow-y: auto;
}
.tips-and-tricks-title {
    margin-left: 4vw;
    font-size: 3em;
    font-family: 'Montserrat';
}

.tips-and-tricks-text {
    font-family: 'Cormorant';
    font-size: 1.5em;
    white-space: pre-line;
    max-width: 80vw;
    margin-left: 4vw;
}