.home-teams-grid {
    background-color: #d9d9d9e2;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-teams{
    width: 100%;
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    column-gap: 5%;
    height: 80vh;
    overflow-y: auto;
    padding-top: 10px;
}

.api-limit{
    height: 100%;
    padding-top: 10px;
}
