/*----------------------- general component css --------------------------- */
.team-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color: white;
}

.team-page-name{
    font-weight: 400;
}

.team-page-stats{
    display: flex;
}

/*----------------------- component header section --------------------------- */
.team-page-header{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vw;
}

.team-page-logo{
    height: 20vh;
}

.team-page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vw;
}


.team-page-league{
    font-weight: 400;
}

.team-page-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.follow-success, .unfollow-success {
    color: lightgreen;
    
}

/*----------------------- recent games section  --------------------------- */
.recent-games-title{
    padding: 1vw;
    font-size: 1.7vw;
    font-weight: 400;
}

@media (max-width: 700px){
    .recent-games-title{
        font-size: 20px;
    }

    .team-page-title{
        font-size: 20px;
    }
}

.learn-more{
    
    padding-top: 1vh;
    padding-bottom: 5vh;
    font-weight: 400;
}

.learning-link{
    text-decoration: underline;
    transition: all 0.5s ease;
    cursor: pointer;
}

.learning-link:hover{
    color: #F1D433;
}

.sports-icon{
    padding: 2vh;
    color: #F1D433
}