.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363232;
    padding: 50px;
    z-index: 1000;
    border-radius: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}



/* ----------------------------------- Button styling ----------------------------------- */
.close-modal-button {
    position: relative;
    cursor: pointer;
    left: 95%;
    bottom: 25px;
    width: 3vw;
    height: 5vh;
    border-radius: 20px;
}


/* ----------------------------------- Text styling ----------------------------------- */
.modal {
    font-size: 20px;
    color: white;
}

.modal h1 {
    font-family: 'Montserrat';
}

.modal h3, .modal p {
    font-family: 'Cormorant';
}

.modal a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

