.courses-list{
    background-color: #363232;
    height: 100%;
    width: 100%;
    padding-bottom: 10vh;
    padding-top: 5%;

}

.beginner-course-list{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.beginner-course-title-container {
    margin-top: 10vh;
    padding:0;
    width: 1350px;
    display: flex;
    color: whitesmoke;
    font-size: 2vh;
    justify-content: space-between;
    align-items: center;

}



.beginner-course-option, .user-course-option {
    margin-top: 1%;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 250px;
    width: 1350px;
    background-color: #201E1E;
    display: flex;
    border-radius: 10px;
}



.course-image {
    height: 200px;
    width: 350px;
    margin: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.course-text {
    margin: 50px;
    
}
.course-text h1 {
    font-weight: bolder;
}
.course-text p {
    margin-top: 20px;
    font-weight: 300;
}

.course-option {
    margin: 80px;
    height: 250px;
    width: 1350px;
    display: flex;
}


.course-link {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #979393;
}

.create-course-link {
    text-decoration: none;
}


/* User Courses Section */


.user-created-course-section {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.user-created-courses-title-container {

    margin-top: 10vh;
    padding:0;
    width: 1350px;
    display: flex;
    color: whitesmoke;
    font-size: 2vh;
    justify-content: space-between;
    align-items: center;

}





.dropdown-container {
    display: flex;
    align-items: center;
}


.no-courses-message {
    color: whitesmoke;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}




/*  USER CREATED COURSE */


.user-courses-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.user-created-course {
    margin-top: 0.5%;
    margin-bottom: 5vh;
    height: 250px;
    width: 1350px;
    background-color: #201E1E;
    display: flex;
    border-radius: 10px;
    color: whitesmoke;
    padding-bottom: 2%;
    position: relative;
}


.to-profile-link {
    text-decoration: none;
    color: white;
}
.to-profile-link:hover {
    color: yellow;
}

.user-created-course-img {
    height: 200px;
    width: 350px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    object-position: center center;
    object-fit: cover;
}


.user-created-course-content {
    overflow-x: auto;
    margin: 50px;

}

.user-created-course-short-description {
    margin-top: 20px;
    font-weight: 300;
}


.user-created-course-creation-date {
    margin:0;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;

}

.user-created-profile-picture {

    width: 35px;
    margin-right: 2.5px;
    height: 35px;
    border-radius: 50%;
}

.user-created-course-difficulty {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 24px;
    text-transform: uppercase;

}


.user-created-course-username {
    margin-right: 4px;

}

.user-course-redirect {
    text-decoration: none;
}


.user-course-ratings-container {
    position: absolute;
    margin: 1%;
    right: 0;
}