.courses-list{
    background-color: #363232;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.beginner-course-option, .user-course-option {
    margin: 80px;
    height: 250px;
    width: 1350px;
    background-color: rgba(0, 0, 0, 0.13);
    display: flex;
    border-radius: 10px;
}



.course-image {
    height: 200px;
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.course-text {
    margin: 50px;
    
}
.course-text h1 {
    font-weight: bolder;
}
.course-text p {
    margin-top: 20px;
    font-weight: 300;
}

.course-option {
    margin: 80px;
    height: 250px;
    width: 1350px;
    background-color: red;
    display: flex;
}


.course-link {
    
    color: whitesmoke;

    text-decoration: none;
}



