


.learning-center-page {

    background-color: #363232;
    height: 100%;


}

.learning-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    




}

.learning-banner {
    display: flex;
    justify-content: center;
}




