


.learning-center-page {

    background-color: #363232;
    height: 100%;


}

.learning-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5vw;
    row-gap: 5vw;
    justify-content: center;

}

.learning-banner {
    display: flex;
    justify-content: center;
}




