

/* remove this later when globals.css font-styles are defined */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.login-page {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.login-page-box {
    display: block;
    background-color: #383838;
    width: 500px;
    height: 500px;
    border-radius: 10%;

}




.login-page-logo{
    display: flex;
    justify-content: center;
}

.login-logo {
    width: 150px;
    height: 150px;
}

.login-form-container {
    margin-top: 2.5%;
    display: block;
    text-align: center;
}

.submit-login-btn-container {
    margin-top: 1%;
}



.register-redirect {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    bottom: 0;
}



.email-label, .password-label {
    color: whitesmoke;
}