

/* remove this later when globals.css font-styles are defined */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.login-page {
    display: flex;
    justify-content: center;

}


.login-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: blur(2px);
    filter: brightness(60%);

}

.login-page-box {
    display: block;
    position: absolute;
    z-index: 5;
    background-color: #383838;
    width: 500px;
    height: 550px;
    margin-top: 10%;
    border-radius: 25px;
}


.login-error {
    color: red;
    margin-top: 2%;
}

.login-page-logo{
    display: flex;
    justify-content: center;
}

.login-logo {
    width: 150px;
    height: 150px;
}

.login-form-container {
    margin-top: 2.5%;
    display: block;
    text-align: center;

}

.submit-login-btn-container {
    margin-top: 4%;
}



.register-redirect {
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    margin-bottom: 5%;
}




.redirect-link {
    color:#F1D433
}

.redirect-link2 {
    margin-left: 1%;
    color:#F1D433;
    
}

.email-label, .password-label {
    color: whitesmoke;
}

.unauthenticated-error {
    color: red;
    display: flex;
    justify-content: center;
}

.forgot-password-redirect-text {
    color: whitesmoke;
    margin-bottom: 10%;
    text-align: center;

}