.beginner-course-page {
    background-color: #363232;
    min-height: 100vh;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; */
    
}

.button-section {
    position: fixed;
    left: 0;
    top: 50%;
    list-style-type: none;
    background-color: white;
}

.button-icon{
    padding: 10px;
}

.button-icon:hover{
    background-color: yellow;
}

.timeline {
    
    margin-top: 55px;
    width: 100%;
}

.timeline iframe{
    height: 70vh;
    width: 100%;
}

.rules-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 20px;
    border-radius: 10px;
}
.rules-section h1 {
    margin-bottom: 5px;
}
.video-and-diagram-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.13);
}
.diagram h1, .video h1 {
    text-align: center;
    color: white;
} 

.diagram-img, .video {
    width: 500px;
    height: 300px;
}

.rules-paragraph {
    white-space: pre-line;
}

.video, .diagram {
    margin: 80px;
}