.beginner-course-page {
    background-color: #383838;
    min-height: 100vh;
}

.timeline {
    width: 100%;
}

.timeline iframe{
    height: 80vh;
    width: 100%;
}

.rules-section {
    color: black;
    background: rgba(201, 199, 199, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vw;
    font-size: large;
}
.rules-section h1 {
    margin-bottom: 10px;
    text-align: center;
}
.video-and-diagram-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #383838;
}
.diagram h1, .video h1 {
    text-align: center;
    color: white;
} 

.diagram-img, .video {
    width: 500px;
    height: 300px;
}

.rules-paragraph {
    white-space: pre-line;
}

.video, .diagram {
    margin: 80px;
}

.flag{
    display: flex;
    justify-content: center;
}

.flag-img{
    height: 5vw;
 
}