.footer{
    background-color: #383838;
    color: whitesmoke;
    height: auto;
    padding-top: 10px;
}

.footer-logo{
    width: 200px;
    height: 200px;
}

.logo-container {
    margin: 2%;

}


.top-half-container {
    display: flex;
    justify-content: center;

    
}

.bottom-half-container {
    padding-bottom: 1%;
}


.footer-header {
    text-align: center;
    width: 200px;
    margin: 2%;
}

.footer-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20%;

}

.footer-body {
    margin-bottom: 5%;
    display: block;
    width: 200px;
    margin-right: 10%;
}

#mui-logo {
    width: 100px;
    height: 100px;
}

#api-sports-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#news-api-logo {
    width: 150px;
    height: 90px;
}

#loading-io-logo {
    border-radius: 5%;
    height: 100px;
    width: 100px;
}

#knightlabs-logo {
    width: 200px;
    height: 50px;
}

.icon-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: .5%;
}

.icon-item {
    margin-right: 1%;
}

.icon-anchor {
    text-decoration: none;
    color: white;
}

.footer-body-top, .footer-body-bottom {
    display: flex;
    align-items: center;
}

@media (max-width: 700px){
    .footer-body-bottom{
        flex-direction: column;
    }

    .footer-body-top{
        flex-direction: column;
    }
}