.footer{
    background-color: #383838;
    color: whitesmoke;
    height: auto;
    padding-top: 10px;
}

.footer-logo{
    width: 200px;
    height: 200px;
}

.logo-container {
    margin: 2%;
}


.top-half-container {
    display: flex;
    justify-content: center;

    
}

.footer-header {
    text-align: center;
    width: 200px;
    margin: 2%;
}

.footer-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20%;

}

.footer-body {
    margin-bottom: 5%;
    display: block;
    width: 200px;
}



.icon-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: .5%;
}

.icon-item {
    margin-right: 1%;
}

.github-anchor {
    text-decoration: none;
    color: white;
}