/*----------------------- general component css --------------------------- */
.team-games-card{
    width: 18vw;
    height: max-content;
    background-color: black;
    color: white;
    margin: 1vw;
    font-size: 1.2vw;
    border-radius: 20px;
}

.teams-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2vw;
}

/*----------------------- text formatting --------------------------- */

.opponent-logo{
    height: 20vh;
}

.header-line{
    display: flex;
}

.team-page-stats{
    font-size: 1.2vw;
}

/*----------------------- Win Draw Lose color rendering--------------------------- */

.WDL{
    border-top-right-radius: 20px;
    padding: 10px;
    font-size: 1.5vw;
    float: right;
    width: 3vw;
    display: flex;
    justify-content: center;
}

.W{
    background-color: green;
}

.result-W{
    color: green;
}

.L{
    background-color: red;
}

.result-L{
    color: red;
}

.D{
    background-color: grey;
    
}

.result-D{
    color: grey;
}


@media (max-width: 700px){
    .team-games-card{
        font-size: 20px;
        width: 60vw;
        display: flex;
    }

    .WDL{
        border-top-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 30px;
    }

    .team-page-stats{
        font-size: 25px;
    }
}
