.learning-sub-banner {
    text-align: center;
    background-color: #252525;
    position: sticky;
    font-size: 22px;
    top: 0;
    z-index: 100;
    padding-top: 1vh;
    padding-bottom: 2vh;
    align-items: center;
}
/* --------------------------- Text --------------------------- */
.learning-sub-banner {
    font-family: 'Montserrat';
    color: #F5F5DC;
    font-size: 40px;
}

/* --------------------------- Buttons --------------------------- */
.learning-sub-banner .button-section{
    float: left;
}
.button-icon{
    padding: 5px;
    color: #F5F5DC;
}
