.learning-sub-banner {
    text-align: center;
    background-color: #252525;
    font-size: 22px;

    position: fixed;
    top: 0;
    z-index: 99;
    
    padding-top: 80px;
    padding-bottom: 1%;
    align-items: center;
    width: 100%;
}
/* --------------------------- Text --------------------------- */
.learning-sub-banner {
    color: white;
    font-size: 40px;
}

/* --------------------------- Buttons --------------------------- */
.learning-sub-banner .button-section{
    float: left;
}
.button-icon{
    padding: 5px;
    color: #F5F5DC;
}
