.learning-sub-banner {
    color: white;
    text-align: center;
    display: grid;
    background-color: #252525;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 60px;
    font-size: 22px;
    z-index: 100;
    padding-bottom: 2vh;
    align-items: center;
}

.learning-sub-banner .button-section{
    float: right;
}

.button-icon{
    padding: 5px;
}
