

.register-page {
    display: flex;
    justify-content: center;
    overflow: hidden;
}



.register-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: blur(8px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    transform: scale(1.1);
}

.register-page-box {
    display: block;
    position: absolute;
    z-index: 5;
    background-color: #383838;
    width: 530px;
    height: 850px;
    border-radius: 10%;
    margin-top: 5%;
    
}

.register-page-logo{
    display: flex;
    justify-content: center;
}

.register-logo {
    width: 150px;
    height: 150px;
}





.register-form-container {
    display: block;
    text-align: center;
}



.name-input-container {
    display: flex;
    width: 85.25%;
    margin-left: 7.5%;
    justify-content: center;
}

.submit-register-btn-container {
    margin-top: 4%;
}

.submit-register-btn{
    width: 200px;
}

.login-redirect {
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: 26%;
    margin-bottom: 5%;
}



.register-error {
    color: red;
    margin-top: 2%;
}