

.register-page {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.register-page-box {
    display: block;
    background-color: #383838;
    width: 800px;
    height: 850px;
    border-radius: 10%;
}

.register-page-logo{
    display: flex;
    justify-content: center;
}

.register-logo {
    width: 150px;
    height: 150px;
}


.register-page-title {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 56px;
}


.register-form-container {
    margin-top: 2.5%;
    display: block;
    text-align: center;
}

.name-input-container {
    display: flex;
    width: 58%;
    margin-left: 21%;
    justify-content: center;
}

.submit-register-btn-container {
    margin-top: 4%;
}

.submit-register-btn{
    width: 200px;
}

.login-redirect {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    color: whitesmoke
}


